.u-section-1 {
    background-image: linear-gradient(#db545a, #478ac9);

}

.u-section-1 .u-sheet-1 {
    min-height: 1592px;
}

/* Slideshow container */
.slideshow-container {

    margin:auto;
    position: relative;
    /*box-shadow: 1px 1px 15px rgba(0,0,0,0.4);*/
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.u-section-1 .u-image-7 {
    min-height: 591px;
    background-image: url("images/woman2.png");
    background-position: 50% 50%;
}

.u-section-1 .u-container-layout-7 {
    padding: 30px;
}

.u-section-1 .u-image-8 {
    min-height: 295px;
    background-image: url("images/woman.png");
    background-position: 50% 50%;
}

.u-section-1 .u-container-layout-8 {
    padding: 30px;
}

.u-section-1 .u-image-9 {
    min-height: 886px;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/beautiful.jpg");
}

.u-section-1 .u-container-layout-9 {
    padding: 30px 60px;
}

.u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin: 0 52px 0 -37px;
}

.u-section-1 .u-btn-1 {
    border-style: solid;
    font-size: 1.375rem;
    background-image: none;
    margin: 157px 52px 0 auto;
    padding: 15px 49px 16px 48px;
}

.u-section-1 .u-text-2 {
    margin: -63px auto 0 40px;
}

.u-section-1 .u-btn-2 {
    border-style: solid;
    font-size: 1.375rem;
    margin: 101px 51px 0 auto;
    padding: 15px 49px 16px 48px;
}

.u-section-1 .u-text-3 {
    margin: -63px auto 0 40px;
}

.u-section-1 .u-btn-3 {
    border-style: none none solid;
    animation-duration: 1000ms;
    font-size: 2.25rem;
    font-weight: 700;
    margin: 226px -41px 0 auto;
    padding: 0;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 1437px;
    }

    .u-section-1 .u-slider-1 {
        margin-top: 92px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-layout-wrap-1 {
        margin-top: 39px;
        margin-bottom: 0;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-image-7 {
        min-height: 487px;
    }

    .u-section-1 .u-image-8 {
        min-height: 243px;
    }

    .u-section-1 .u-image-9 {
        background-position: 50% 50%;
        min-height: 731px;
    }

    .u-section-1 .u-text-1 {
        margin-right: 0;
        margin-left: -27px;
    }

    .u-section-1 .u-btn-1 {
        margin-right: 0;
    }

    .u-section-1 .u-text-2 {
        margin-left: 31px;
    }

    .u-section-1 .u-btn-2 {
        margin-top: 86px;
        margin-right: 0;
    }

    .u-section-1 .u-text-3 {
        margin-top: -34px;
        margin-left: 31px;
    }

    .u-section-1 .u-btn-3 {
        margin-right: 0;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 2944px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-1 .u-container-layout-3 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-1 .u-container-layout-4 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-1 .u-container-layout-5 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-1 .u-container-layout-6 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-1 .u-layout-wrap-1 {
        margin-top: -1343px;
        margin-bottom: 60px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-image-7 {
        min-height: 746px;
    }

    .u-section-1 .u-image-8 {
        min-height: 372px;
    }

    .u-section-1 .u-image-9 {
        min-height: 1120px;
    }

    .u-section-1 .u-container-layout-9 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-1 .u-text-1 {
        margin-left: -52px;
    }

    .u-section-1 .u-text-2 {
        margin-left: 59px;
    }

    .u-section-1 .u-text-3 {
        margin-left: 59px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 2385px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-container-layout-4 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-container-layout-5 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-container-layout-6 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-layout-wrap-1 {
        margin-top: -800px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-image-7 {
        min-height: 560px;
    }

    .u-section-1 .u-container-layout-7 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-image-8 {
        min-height: 279px;
    }

    .u-section-1 .u-container-layout-8 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-image-9 {
        min-height: 840px;
    }

    .u-section-1 .u-container-layout-9 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-text-1 {
        margin-left: -41px;
    }

    .u-section-1 .u-text-2 {
        margin-left: 46px;
    }

    .u-section-1 .u-text-3 {
        margin-left: 46px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 1764px;
    }

    .u-section-1 .u-slider-1 {
        margin-top: 35px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-layout-wrap-1 {
        margin-top: -586px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-image-7 {
        min-height: 353px;
    }

    .u-section-1 .u-image-8 {
        min-height: 176px;
    }

    .u-section-1 .u-image-9 {
        min-height: 529px;
    }

    .u-section-1 .u-text-1 {
        margin-left: -25px;

    }

    .u-section-1 .u-text-2 {
        margin-left: 28px;
    }

    .u-section-1 .u-text-3 {
        margin-left: 28px;
    }
}

.u-footer{
    background-color: #1b3c5b;
    align-items: center;
    align-content: center;

}
.u-footer h1{
    color: white;
    font-weight: 900;
    margin: -79px 189px 27px 150px;
    padding-bottom: 50px;
}
.u-footer img{
    max-width: 118px;
    max-height: 118px;
}